<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basic Template</title>

  <template id="card-template">
    <style>
      .logo {
        height: 50px;
        width: 50px;
        float: left;
      }

      .vcard {
        float: left;
        border: solid 1px #AAA;
        width: 100%;
        padding: 5px;
      }

      .vcard:hover {
        background: #CCC;
      }
    </style>

    <card class="vcard">
      <img class="logo" src="http://webcomponents.org/img/logo.svg">
      <strong><firstName></firstName></strong><br>
      <em><lastName></lastName></em><br>
      <email></email>
    </card>
  </template>
</head>
</html>